---
import Hero from '../../../components/widgets/Hero.astro';
import Layout from '../../../layouts/PageLayout.astro';
import Button from '../../../components/ui/Button.astro';

import cartaAvanti from '~/assets/pdf/metodi/codyroby/codyroby-gigante/move-forward-card.pdf';
import banner from '~/assets/images/metodi/codyroby/codyroby-gigante/banner.jpg';
import AnimateText from '~/components/ui/AnimateText.astro';

import avanti from '~/assets/images/metodi/codyroby/codyroby-gigante/avanti-212x300.png';
import avantiBn from '~/assets/images/metodi/codyroby/codyroby-gigante/avanti-bn-212x300.png';
import sinistra from '~/assets/images/metodi/codyroby/codyroby-gigante/sinistra-212x300.png';
import sinistraBn from '~/assets/images/metodi/codyroby/codyroby-gigante/sinistra-bn-212x300.png';
import destra from '~/assets/images/metodi/codyroby/codyroby-gigante/destra-212x300.png';
import destraBn from '~/assets/images/metodi/codyroby/codyroby-gigante/destra-bn-212x300.png';
import ripetizione from '~/assets/images/metodi/codyroby/codyroby-gigante/ripetizione-212x300.png';
import ripetizioneBn from '~/assets/images/metodi/codyroby/codyroby-gigante/ripetizione-bn-212x300.png';
import ifCard from '~/assets/images/metodi/codyroby/codyroby-gigante/if-card-212x300.png';
import ifCardBn from '~/assets/images/metodi/codyroby/codyroby-gigante/if-card-bn-212x300.png';
import elseCard from '~/assets/images/metodi/codyroby/codyroby-gigante/else-card-212x300.png';
import elseCardBn from '~/assets/images/metodi/codyroby/codyroby-gigante/else-card-bn-212x300.png';
import sensoriCard from '~/assets/images/metodi/codyroby/codyroby-gigante/sensors-counters-targets-212x300.png';

import PairCards from '~/components/common/PairCards.astro';

const pdfPath = '/codyroby/codyroby-gigante/';

const pairCards = [
  {
    image: avanti,
    pdf: `${pdfPath}move-forward-card.pdf`,
    imageBn: avantiBn,
    pdfBn: `${pdfPath}move-forward-card-bn.pdf`,
    description: `<strong>Carta Vai Avanti</strong> [formato A4, 12 copie per un mazzo ridotto da 20 carte, 24 copie per un mazzo completo da 40]`,
  },
  {
    image: sinistra,
    pdf: `${pdfPath}turn-left-card.pdf`,
    imageBn: sinistraBn,
    pdfBn: `${pdfPath}turn-left-card-bn.pdf`,
    description: ` <strong>Carta Girati a Sinistra</strong> [formato A4, 4 copie per un mazzo ridotto da 20 carte, 8 copie per un mazzo completo da 40]`,
  },
  {
    image: destra,
    pdf: `${pdfPath}turn-right-card.pdf`,
    imageBn: destraBn,
    pdfBn: `${pdfPath}turn-right-card-bn.pdf`,
    description: `Carta Girati a Destra [formato A4, 4 copie per un mazzo ridotto da 20 carte, 8 copie per un mazzo completo da 40]`,
  },
  {
    image: ripetizione,
    pdf: `${pdfPath}cycle-card.pdf`,
    imageBn: ripetizioneBn,
    pdfBn: `${pdfPath}cycle-card-bn.pdf`,
    description: `<strong>Carta speciale di Ripetizione</strong> [formato A4, 2 copie da abbinare al un mazzo ridotto, 4 copie da abbinare al mazzo completo]`,
  },
  {
    image: ifCard,
    pdf: `${pdfPath}if-card.pdf`,
    imageBn: ifCardBn,
    pdfBn: `${pdfPath}if-card-bn.pdf`,
    description: `<strong>Carta speciale Se</strong> [formato A4, 2 copie da abbinare al un mazzo ridotto, 4 copie da abbinare al mazzo completo]`,
  },
  {
    image: elseCard,
    pdf: `${pdfPath}else-card.pdf`,
    imageBn: elseCardBn,
    pdfBn: `${pdfPath}else-card-bn.pdf`,
    description: `<strong>Carta speciale Altrimenti </strong> [formato A4, 2 copie da abbinare al un mazzo ridotto, 4 copie da abbinare al mazzo completo]
`,
  },
  {
    image: sensoriCard,
    pdf: `${pdfPath}sensors-counters-targets.pdf`,
    description: `<strong>Sensori, contatori e target</strong> [formato A4, 1 copia]`,
  },
];

const metadata = {
  title: 'CodyRoby',
  tagline: 'Metodi',
};
---

<Layout metadata={metadata}>
  <Hero
    tagline={metadata.tagline}
    title="CodyRoby"
    image={{
      src: banner,
      alt: 'banner CodyRoby',
    }}
  >
    <Fragment slot="subtitle"> </Fragment>
  </Hero>
  <div class="prose-page">
    <AnimateText>
      <p>
        Questa pagina contiene i file pdf pronti per la stampa delle carte del kit CodyRoby in formato gigante. Ogni
        file contiene una sola carta. Rispettando il formato A4 della pagina, le dimensioni della carta risultano essere
        15cm x 27cm.
      </p>
      <p>
        Si consiglia di utilizzare questo formato nella scuola dell’infanzia o nei primi anni della primaria, o in ogni
        situazione in cui si faccia un uso collettivo del kit CodyRoby su scacchiere a terra. Per un uso ripetuto e
        duraturo in ambiente scolastico si consiglia la plastificazione delle carte. Accanto alle carte standard a
        colori trovate anche le versioni in bianco e nero da colorare.
      </p>
      <p>
        Per ogni altra informazione sul kit e sulle modalità di utilizzo si rimanda alla pagina principale di CodyRoby.
      </p>
    </AnimateText>
  </div>

  {
    pairCards.map((card) => (
      <PairCards
        image={card.image}
        imageBn={card.imageBn}
        pdf={card.pdf}
        pdfBn={card.pdfBn}
        description={card.description}
      />
    ))
  }
</Layout>
