---
import Layout from '../../../layouts/PageLayout.astro';
import Hero from '../../../components/widgets/Hero.astro';
const banner = '~/assets/images/metodi/codyroby/banner-b.png';

import AnimateText from '../../../components/ui/AnimateText.astro';
import ButtonSelection from '../../../components/ui/ButtonsSelection';

import scacchiera from '~/assets/images/metodi/codyroby/scacchiera.png';
import scatola from '~/assets/images/metodi/codyroby/board-212x300.png';

import sinistra from '~/assets/images/metodi/codyroby/sinistra.png';
import dritto from '~/assets/images/metodi/codyroby/dritto.png';
import destra from '~/assets/images/metodi/codyroby/destra.png';
import speciali from '~/assets/images/metodi/codyroby/speciali.png';
import Button from '../../../components/ui/Button.astro';
import og from '~/../public/codyroby/openGraph.jpeg';
import type { MetaData } from '~/types';
import merge from 'lodash.merge';
import type { ButtonExplanationData } from '~/types';

const codyRobyStarter = '/codyRobyStarter.pdf';
const codyRobyCard = '/CodyRobyCards.pdf';

const openGraphImage = og;

const metadata = merge({
  title: 'CodyRoby',

  ignoreTitleTemplate: true,
  openGraph: {
    ...(openGraphImage
      ? {
          images: [
            {
              url: og,
              width: (openGraphImage as ImageMetadata)?.width,
              height: (openGraphImage as ImageMetadata)?.height,
            },
          ],
        }
      : {}),
  },
}) as MetaData;

const tagline = 'Metodi';

const materialSymbols: ButtonExplanationData[] = [
  {
    action: 'Scacchiera',
    image: scacchiera,
    text: '',
  },
  {
    action: 'Scatola',
    image: scatola,
    text: '',
  },
  {
    action: 'Speciali',
    image: speciali,
    text: '',
  },
];
const cardsSymbols: ButtonExplanationData[] = [
  {
    action: 'Carte Girati a Sinistra',
    image: sinistra,
    text: '',
  },
  {
    action: 'Carte Vai Avanti',
    image: dritto,
    text: '',
  },
  {
    action: 'Carte Girati a Destra',
    image: destra,
    text: '',
  },

  // {
  //   action: 'target',
  //   image: target,
  //   text: 'Target (arrivo): colore azzurro. Tessera da disporre all’esterno della scacchiera, in corrispondenza del punto da cui si prevede (o si chiede) che Roby esca dalla scacchiera dopo averla percorsa. [non è indispensabile, si consiglia di stamparne 2]',
  // },
];
---

<Layout metadata={metadata}>
  <Hero
    tagline={tagline}
    title="CodyRoby"
    image={{
      src: banner,
      alt: 'banner CodyRoby',
    }}
  >
    <Fragment slot="subtitle"> </Fragment>
  </Hero>
  <AnimateText>
    <div class="prose-page">
      <p>
        <span class="font-semibold">Cody</span> è un coder, <span class="font-semibold">Roby</span> è un robot. Cody concatena
        istruzioni che Roby esegue.
      </p>

      <p>
        <span class="font-semibold">CodyRoby</span> è un metodo fai-da-te di programmazione unplugged (senza computer). Le
        istruzioni sono carte da gioco che contengono semplici simboli associati a tre azioni elementari: vai avanti, girati
        a sinistra, girati a destra. Ogni giocatore veste i panni di Cody e usa le carte per dare istruzioni a Roby, rappresentato
        da una pedina da muovere sulla scacchiera.
      </p>

      <p>
        CodyRoby è stato ideato nel <a href="https://www.codeweek.it/il-compleanno-di-codyroby/" target="_blank"
          >novembre del 2014</a
        >, per offrire a tutti la possibilità di partecipare alla European Robotics Week anche all’ultimo momento e
        senza alcun costo. Lo <span class="font-semibold">starter kit</span> di CodyRoby può essere scaricato, stampato e
        ritagliato per comporre il mazzo di carte, la scacchiera, le pedine e la scatola in cui tutto può essere riposto.
      </p>
    </div>
  </AnimateText>
  <AnimateText>
    <div
      class="max-w-xs sm:max-w-md m-auto flex flex-nowrap flex-col sm:flex-row sm:justify-center gap-4 intersect-once intersect-quarter motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade"
    >
      <div class="flex w-full sm:w-auto !text-white no-underline">
        <Button
          id="starter-kit"
          class="w-full sm:mb-0"
          variant="primary"
          text="Scarica CodyRoby Starter Kit"
          href={`${codyRobyStarter}`}
          target="_blank"
          icon="tabler:download"
        />
      </div>
    </div>
  </AnimateText>

  <div class="prose-page">
    <AnimateText>
      <p>
        Dal 2014 ad oggi lo starter kit è stato distribuito in molte versioni, dedicate, tra l’altro, a <a
          href="https://www.codeweek.it/cody-roby-en/ECW-edition/">Europe Code Week</a
        >, a <a href="https://www.codeweek.it/cody-roby-en/ACW-edition/">Africa Code Week</a> e alla <a
          href="https://www.codeweek.it/cody-roby-en/ERW-edition/">European Robotics Week</a
        >. Lo starter kit permette di giocare con il coding in tanti modi diversi. Alcuni sono documentati da semplici
        video-tutorial autoesplicativi, ma dopo aver giocato ai giochi base proposti vi suggerisco di inventarne di
        nuovi.
      </p>

      <p>
        In Agosto 2016 lo Starter Kit si è arricchito delle carte speciali che alle istruzioni elementari aggiungono le
        ripetizioni e le condizioni. Il <span class="font-semibold">nuovo starter kit</span> è stato creato per CodeMOOC
        ed è distribuito ufficialmente e gratuitamente in questa pagina. Il kit è anche allegato al libro di CodeMOOC, con
        diversa impaginazione. Il nuovo kit permette di svolgere in modalità unplugged tutte le attività tipiche dell’ora
        del codice, come spiegato in <a href="https://www.youtube.com/watch?v=4GKX65_T34o" target="_blank"
          >questo video</a
        > e <a href="https://www.slideshare.net/alessandrobogliolo/codyrobyhoc" target="_blank">in queste slide</a>.
      </p>
      <ButtonSelection buttons={materialSymbols} client:load />
      <div class="mt-6"></div>
      <ButtonSelection buttons={cardsSymbols} client:load />
    </AnimateText>

    <p>
      Premendo il pulsante, <em>Scarica CodyRoby</em>, che permette di scaricare il file pdf sono riportate le opzioni
      di stampa consigliate.
    </p>
    <Hero
      actions={[
        {
          variant: 'primary',
          text: 'Scarica CodyRoby',
          href: codyRobyCard,
          target: '_blank',
          icon: 'tabler:download',
        },
      ]}
    />

    <p>
      Nella scuola dell’<strong>infanzia</strong> o nei primi anni della <strong>primaria</strong>, o in ogni situazione
      in cui si faccia un <strong> uso collettivo </strong> del kit CodyRoby su scacchiere a terra si consiglia di utilizzare
      il <a href={'codyroby/codyroby-gigante'}>CodyRoby Gigante</a>
    </p>
    <div class="flex flex-col gap-4">
      <h2>I video tutorial</h2>
      <h3>Preparazione del kit base</h3>
      <div class="flex justify-center mt-11">
        <iframe
          width="600"
          height="400"
          src="https://www.youtube.com/embed/k-tzLwbTOFg"
          title="CodyRoby tutorial: Building the Kit"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen></iframe>
      </div>
      <h3>The Race: La corsa</h3>

      <div class="flex justify-center mt-11">
        <iframe
          width="600"
          height="400"
          src="https://www.youtube.com/embed/izpB0Cvl0tk?start=19"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen></iframe>
      </div>

      <h3>The Duel: Il duello</h3>
      <div class="flex justify-center mt-11">
        <iframe
          width="600"
          height="400"
          src="https://www.youtube.com/embed/JiGjrOwOz6Y"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen></iframe>
      </div>

      <h3>Snake: Il serpente</h3>
      <div class="flex justify-center mt-11">
        <iframe
          width="600"
          height="400"
          src="https://www.youtube.com/embed/th0nbgo0PBs"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen></iframe>
      </div>

      <h3>Full-fill: Riempi-tutto</h3>
      <div class="flex justify-center mt-11">
        <iframe
          width="600"
          height="400"
          src="https://www.youtube.com/embed/XqWRDab5GDw?si=N5tyHx-A4sO1yvTy"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen></iframe>
      </div>
    </div>

    <!-- <h2>I giochi</h2>
    <div class="flex flex-col md:flex-row gap-4 justify-between">
      <Button text="Seguimi" href={'codyroby/giochi/seguimi'} class="self-center" />
      <a
        href={'codyroby/giochi/il-duello'}
        class="flex flex-col justify-center items-center border border-black rounded-lg px-4"
      >
        <Image src={duello} alt="duello" class="max-w-[300px] max-h-[300px]" />
        <p>Il Duello</p>
      </a>
    </div>
    <div class="flex flex-col md:flex-row gap-4 justify-between">
      <a
        href={'codyroby/giochi/la-corsa'}
        class="flex flex-col justify-center items-center border border-black rounded-lg px-4"
      >
        <Image src={gara} alt="corsa" class="max-w-[300px] max-h-[300px]" />
        <p>La Corsa</p>
      </a>
      <Button text="La Turista" href={'codyroby/giochi/la-turista'} class="self-center" />
    </div> -->
  </div>
</Layout>
