---
import Layout from '~/layouts/PageLayout.astro';
import { Image } from 'astro:assets';

import Hero from '~/components/widgets/Hero.astro';

import banner from '~/assets/images/codyroby-cover.png';
import merge from 'lodash.merge';
// import banner from '~/assets/images/home-test.jpeg';

import AnimateText from '~/components/ui/AnimateText.astro';
import infanzia from '~/assets/images/home/toolkit-infanzia-b.png';
import primaria from '~/assets/images/home/toolkit-primaria-b.png';
import secondaria from '~/assets/images/home/toolkit-secondaria-b.png';

import codyroby from '~/assets/images/home/metodo-codyroby-bg.png';
import codycolor from '~/assets/images/home/metodo-codycolor-bg.png';
import codyfeet from '~/assets/images/home/metodo-codyfeet-bg.png';

import bogliolo from '~/assets/images/home/Bogliolo.jpeg';

import type { MetaData } from '~/types';

const ogImage = '/openGraph.jpg';

const metadata = merge({
  title: 'CodyRoby',
  tagline: 'Metodi',
  description: 'Strumenti e metodi di coding unplugged fai-da-te',
  ignoreTitleTemplate: true,
  openGraph: {
    images: [
      {
        url: ogImage,
        width: 1280,
        height: 720,
      },
    ],
  },
}) as MetaData;

const metodiPath = '/metodi';
const toolkitPath = '/toolkit';

const metodi = [
  {
    src: codyroby,
    alt: 'codyroby',
    link: `${metodiPath}/codyroby`,
    description:
      'È il più versatile degli strumenti di coding unplugged su scacchiera. Esiste nella versione base e nella versione avanzata, con costrutti di programmazione.',
  },
  {
    src: codycolor,
    alt: 'codycolor',
    link: `${metodiPath}/codycolor`,
    description:
      'È il più intrigante degli strumenti di coding lineare. Le istruzioni sono rappresentate da tessere colorate disposte a terra. Con regole semplicissime, permette di creare attività avvincenti a ogni età',
  },
  {
    src: codyfeet,
    alt: 'codyfeet',
    link: `${metodiPath}/codyfeet`,
    description:
      'È il più semplice e intuitivo degli strumenti di coding unplugged, particolarmente adatto per proporre attività in età prescolare e nei primi anni della primaria.',
  },
];
const toolkit = [
  {
    src: infanzia,
    alt: 'infanzia',
    link: `${toolkitPath}/infanzia`,
    description:
      'Segui questo link se ti interessa introdurre il coding unplugged in età pre-scolare. Scoprirai come usare intuitivamente CodyFeet, il più semplice degli strumenti, e come metterlo in relazione con CodyColor e CodyRoby svolgendo attività motorie a terra',
  },
  {
    src: primaria,
    alt: 'primaria',
    link: `${toolkitPath}/primaria`,
    description:
      'Segui questo link se vuoi applicare il coding unplugged nella scuola primaria. Scoprirai che CodyRoby e CodyColor sono gli strumenti più adatti e che possono essere utilizzati per introdurre concetti sempre più evoluti e concepire attività sempre nuove.',
  },
  {
    src: secondaria,
    alt: 'secondaria',
    link: `${toolkitPath}/secondaria`,
    description:
      'Segui questo link per scoprire in quanti modi il coding unplugged possa essere applicato nella scuola secondaria, per dare rigore alla descrizione di procedimenti evoluti che sfruttano i costrutti di programmazione di CodyRoby strutturato.',
  },
];
---

<style>
  a {
    text-decoration: none;
    color: black;
  }
</style>

<Layout metadata={metadata}>
  <Hero image={{ src: banner, alt: 'CodyRoby' }}>
    <Fragment slot="title">
      <span class="text-slate-800 highlight">CodyRoby</span><br />
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Strumenti e metodi di coding unplugged fai-da-te</span>
      </span>
    </Fragment>
  </Hero>

  <AnimateText>
    <div class="prose-page">
      <p>
        Questo sito è il principale riferimento per i <strong>metodi</strong> e gli <strong>strumenti</strong> di <strong
          >coding unplugged fai-da-te</strong
        > ideati dal
        <strong>Prof. Alessandro Bogliolo</strong> a partire dal 2014 per favorire la diffusione del pensiero computazionale
        nelle scuole senza fare uso di dispositivi elettronici. Il sito prende nome dal <strong>primo</strong> e dal più
        versatile dei metodi,
        <strong>CodyRoby</strong>, che sintetizza l’essenza di ogni attività di coding: la separazione di ruoli tra chi
        programma (Cody) e chi esegue (Roby).
        <br /><br />
        La struttura del sito è interamente navigabile attraverso il menu gerarchico, ma la home page offre <strong
          >percorsi</strong
        > alle sezioni dedicate ai <strong>tre ordini di scuola</strong> (infanzia, primaria e secondaria di primo grado)
        e ai <strong>tre principali metodi di coding unplugged</strong> (CodyRoby, CodyFeet e CodyColor).
      </p>
      <h2>Scorciatoie per ordini di scuola</h2>
      <p>
        I Toolkit per insegnanti offrono una chiavi di lettura e approcci al sito specificatamente concepiti per
        infanzia, primaria e secondaria di primo grado.
      </p>
    </div>
    <div class="m-auto px-4 sm:px-6 lg:px-36">
      <div class="flex flex-col sm:flex-row justify-center gap-6 mx-auto mt-10">
        {
          toolkit.map((toolkit) => (
            <a href={toolkit.link} class="flex flex-col items-center w-full sm:w-1/2 lg:w-1/3 p-4">
              <Image
                src={toolkit.src}
                class="w-full h-auto rounded-lg "
                alt={toolkit.alt}
                loading="lazy"
                decoding="async"
              />
              <p class="text-center text-sm sm:text-md mt-2">{toolkit.description}</p>
            </a>
          ))
        }
      </div>
    </div>

    <div class="prose-page">
      <h2>Metodi e strumenti</h2>
      <p>
        I tre metodi di coding unplugged proposti in questo sito offrono alle scuole l’opportunità di costruire percorsi
        verticali coerenti che permettono di familiarizzare in modo graduale e spontaneo con i principi che sono alla
        base della programmazione.
      </p>
    </div>

    <div class="m-auto px-4 sm:px-6 lg:px-36">
      <div class="flex flex-col sm:flex-row justify-center gap-6 mx-auto mt-10">
        {
          metodi.map((metodo) => (
            <a href={metodo.link} class="flex flex-col items-center w-full sm:w-1/2 lg:w-1/3 p-4">
              <Image
                src={metodo.src}
                class="w-full h-auto rounded-lg "
                alt={metodo.alt}
                loading="lazy"
                decoding="async"
              />
              <p class="text-center text-sm sm:text-md mt-2">{metodo.description}</p>
            </a>
          ))
        }
      </div>
    </div>
  </AnimateText>
  <AnimateText>
    <div class="prose-page">
      <h2>Alessandro Bogliolo</h2>
      <div class="grid grid-cols-1 items-center">
        <div class="flex justify-center">
          <Image src={bogliolo} alt="bogliolo" class="w-2/3 max-w-[250px] md:w-2/3 lg:w-1/3 rounded-lg shadow-lg" />
        </div>

        <p>
          Alessandro Bogliolo è professore di sistemi di elaborazione dell’informazione all’Università di Urbino, dove è
          delegato del Rettore per Divulgazione Scientifica e Public Engagement. Dal 2013 ha svolto il ruolo di
          Ambassador per la campagna di alfabetizzazione europea EU CodeWeek, di cui è stato coordinatore dal 2015 al
          2023. Nel 2014 ha ideato CodyRoby per favorire la diffusione del coding nelle scuole anche in assenza di
          finanziamenti e di attrezzature specifiche. Dal 2016 tiene corsi online aperti e gratuiti per insegnanti
          erogati dall’Università di Urbino in modalità MOOC. Dal MOOC “Coding in Your Classroom, Now!” ha preso vita
          l’omonima comunità di pratica che conta oggi più di 40.000 insegnanti. Ha curato e condotto per RAI Scuola i
          programmi Coding, CodyGames, Il Digitale, Gli algoritmi di ogni giorno, e lo speciale Coding in Famiglia. Per
          Giunti Scuola è autore di “Coding in Your Classroom, Now”, “A Scuola con CodyRoby” e “Il diario del coding”.
          Nel 2019 ha fondato DIGIT srl, società benefit, spin-off dell’Università di Urbino. Per DIGIT, dal 2020,
          organizza e conduce CodyTrip, le gite online interattive in diretta offerte gratuitamente alle scuole. Nel
          2023 ha istituito la CodyRoby Academy.
        </p>
      </div>
    </div>
  </AnimateText>
</Layout>
